body {
background:ghostwhite;
}

h1 {
color: Navy;
font-size: 40pt;
}

p {
color: black;
font-size: 20pt;
}
pre {
color:black;
font-size: 20pt;
}
h2 {
color: Navy;
font-size: 28pt;
}
h3 {
color: Navy;
font-size: 28pt;
}